<!-- <div class="back">
    <div class="flex column">
        <h1>Projets</h1>
        <button (click)="openDialog()">Nouveau Projet</button>
        @for (projet of projets; track $index) {
            <div class="flex column">
                <app-dashboard [projet]="projet"></app-dashboard>
                <button (click)="setProjet(projet)">Nouveau site</button>
            </div>   
        }
    </div>
</div>
 -->
<!-- ne pas effacer la partie supérieure -->
<div class="grid grid-3">
    <app-documents></app-documents>
    <app-planning></app-planning>
    <app-preparation></app-preparation>
    <app-travaux></app-travaux>
</div>
