    <div class="center contenu-dialog">
        <form [formGroup]="formProjet">
            <div class="flex column gap-05">
                <h1>Nouveau Projet</h1>
                <div class="flex row space-between">
                    <div class="flex row case-form">
                        <input type="text" name="" id="input-text"formControlName="name" class="form-input">
                        <label for="input-text"><i class="material-icons">edit</i></label>
                    </div>
                    <button (click)="valider()" class="button validation valid">
                        <p>Valider</p>
                        <i class="material-icons">input</i>
                    </button>
                </div>
                <div class="flex row space-between">
                    <div class="flex row case-form space-between">
                        <p class="form-input">{{ startDate | date: 'dd/MM/yyyy' }}-{{ endDate | date: 'dd/MM/yyyy' }}</p>
                        <i class="material-icons">calendar_today</i>
                    </div>
                    <button (click)="cancel()" class="button validation cancel">
                        <p>Annuler</p>
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div class="center">
                    <div class="flex row space-between stretch">
                        <app-daterangepicker (dateEmitter)="getStart($event)"></app-daterangepicker>
                        <app-daterangepicker (dateEmitter)="getEnd($event)"></app-daterangepicker>
                    </div>
                </div>
            </div>
        </form>
    </div>